<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SociaLol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D110F98C1C9A17D7002C8CA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D110F9A31C9A17D8002C8CA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D110F9AE1C9A17D8002C8CA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
